<h2>TERMS OF USE</h2>
<h4 class="mt_20 font_bold">Date of the last revision: 1st October 2017.</h4>
<p class="mt_20">
    It is important to us that you, and our other visitors, have the best possible time while using our site, and that
    when you use this site you are fully aware of your respective legal rights and obligations. For that reason, we have
    created these Terms of Service as the legally binding terms to govern your use of this site. Please read these Terms
    of Service carefully before using the site because they affect your legal rights and obligations.
</p>
<p class="mt_10">
    By accessing or using the Coincoming website located at http://www.coincoming.com (the “Site”) and any services made available
    through the Site (collectively, the “Services”), you (“User”) agree to be bound by these Terms of Use (“Terms”). The
    Services are owned and controlled by Creditshares, Inc., a Delaware corporation (“Creditshares”). These Terms affect
    your legal rights and obligations. If you do not agree to be bound by these Terms, do not access or use the
    Services.
</p>
<p class="mt_10">
    Coincoming reserves the right to change or modify the terms and conditions contained in these Terms, including but not
    limited to any policy or guideline of the Site, at any time and at its sole discretion. We will provide notice of
    these changes by posting the revised Terms to the Site and changing the "Last Revised" date at the top of the Terms,
    or by emailing users at their provided email addresses, or by any other means as determined by Coincoming. The decision
    of which notification chosen will be left to Coincoming's sole discretion. Using a particular form of notice in some
    instances does not obligate us to use the same form in other instances. Any changes or modifications will be
    effective immediately upon posting the revisions to the Site or at the instant that Coincoming transmits the information
    to the users (e.g. via email). These changes will apply at that instant to all then current and subsequent uses of
    the Site. You waive any right you may have to receive specific notice of such changes or modifications. Your
    continued use of this Site acts as acceptance of such changes or modifications. If you do not agree to the Terms in
    effect when you access or use the Site, you must stop using the Site.
</p>
<p class="mt_10">
    Coincoming provides an online tool (the "Platform") that allows users to trade between a number of different virtual
    currencies ("Cryptocurrency").
</p>
<ul>
    <li class="mt_20">
        <h4 class="font_bold">1. ELIGIBILITY</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                By accessing or using the Site, you represent and warrant that you are at least 18 years old and have
                not previously been suspended or removed from the Site.
            </li>
            <li>
                you represent and warrant that you will not be using this site for any illegal activity, including but
                not limited to money laundering and the financing of terrorism.
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li class="mt_20">
        <h4 class="font_bold">2. USER REGISTRATION and COMMITMENT</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                The user has full civil rights and capacity, or does not have full civil rights and capacity, but click
                on the consent of the registration button, the network is deemed by its legal representative and its
                legal representative agent registration and application Coincoming transactions Platform services.
            </li>
            <li>
                User registration is not for the purpose of violating laws and regulations or destroying the order of
                virtual currency trading platform.
            </li>
            <li>
                The user agrees to provide valid e-mail and other information in accordance with the requirements of the
                Coincoming Trader user registration page and to set up the Coincoming trading platform account and password. The
                user shall ensure the authenticity, completeness and accuracy of all information provided.
            </li>
            <li>
                When the user obtains the Coincoming trading platform account and password, it is deemed that the user
                registered successfully. The user agrees to receive the e-mail and / or short message related to the
                Coincoming transaction platform website management and operation sent by the Coincoming trading platform.
            </li>

        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">3. USER SERVICES</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                The user has the right to browse the real-time trading information of the virtual currency in the Coincoming
                trading platform, the right to submit the virtual currency transaction instruction and complete the
                virtual currency transaction through the Coincoming trading platform.
            </li>
            <li>
                Users have the right to participate in the Coincoming trading platform organization's website activities
                according to the rules issued by the Coincoming trading platform.
            </li>
            <li>
                Users should abide by the laws and regulations, regulations, regulatory documents and policy
                requirements to ensure that all funds in the account and the legitimacy of the source of virtual
                currency, not in the Coincoming trading platform for illegal activities such as sending or receiving any
                illegal, Violation of public order and good customs, to send or receive other hazards of information,
                without the Coincoming trading platform authorized to use or forged Coincoming trading platform e-mail header
                information.
            </li>
            <li>
                Users should abide by the laws and regulations, should be properly used and keep their Coincoming trading
                platform account and password, capital password, and its registration of mobile phone number bound, and
                mobile phone verification code received by the security.The user assumes full responsibility for any
                actions and consequences arising from the use of their Coincoming trading platform account numbers and
                passwords, capital passwords, mobile phone verification codes.When users find Coincoming trading platform
                account, password, or capital password, the verification code is not authorized by third parties to use,
                or other account security issues should immediately notify the Coincoming trading platform, requiring Coincoming
                transactions Platform to suspend the account services.The Coincoming trading platform has the right to take
                action on the user's request within a reasonable period of time, but does not bear any responsibility
                for the loss suffered by the user before the Coincoming trading platform takes action.The Coincoming trading
                platform account may not be distributed, donated, rented, transferred, or otherwise distributed to
                another person without the consent of the Coincoming trading platform.
            </li>
            <li>
                Users should abide by the Coincoming trading platform from time to time published and updated user agreement
                and other terms of service and operating rules.
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">4. DIGITAL CURRENCY TRADING RULES</h4>
        <p class="mt_10">
            Users are committed to the Coincoming trading platform in its trading, through the Coincoming trading platform and
            other users in the process of virtual currency transactions in good compliance with the following Coincoming
            trading platform for digital currency trading rules.</p>
        <ul class="sub_ul">
            <li class="mt_20">
                <h4>View transaction information</h4>
                <p>
                    Users should carefully read all the information contained in the transaction information, including,
                    but not limited to, the virtual currency price, the commission amount, the handling fee, the buying
                    or selling direction, and the user's full acceptance of the transaction, while browsing the virtual
                    currency transaction information on the Coincoming trading platform The information contained in the
                    entire contents can click on the button after the transaction.
                </p>
            </li>
            <li>
                <h4>Submit a delegate</h4>
                <p>
                    After reviewing the transaction information, the user can submit the transaction order after
                    confirmation. After the user submits the transaction commission, the user authorizes the user of the
                    Coincoming trading platform to perform the corresponding transaction matching, and the Coincoming trading
                    platform will automatically complete the matching transaction without any advance notice to the user
                    when the transaction is satisfied with the entrusted price.
                </p>
            </li>
            <li>
                <h4>View transaction details</h4>
                <p>
                    The user can through the management center of the transaction details to view the corresponding
                    transaction records, confirm their details transaction records.
                </p>
            </li>
            <li>
                <h4>Revoke the delegate</h4>
                <p>
                    In the commission did not reach a transaction, the user has the right to revoke the commission at
                    any time.
                </p>
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">5. USER RIGHTS AND OBLIGATIONS</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                The user has the right to accept in accordance with the agreement to accept the Coincoming trading platform
                to provide digital currency trading platform services.
            </li>
            <li>
                Users have the right to terminate the use of Coincoming trading platform services at any time.
            </li>
            <li>
                The user has the right to withdraw funds at any time the balance, but need to pay the corresponding
                Coincoming trading platform for handling fees.
            </li>
            <li>
                The user is responsible for the authenticity, validity and security of the personal data provided at the
                time of registration.
            </li>
            <li>
                Users in the Coincoming for digital currency transactions can not maliciously interfere with the normal
                conduct of digital currency transactions, undermine the trading order.
            </li>
            <li>
                If the user because of online transactions have litigation with other users,not through judicial or
                administrative means other than the request Coincoming to provide relevant information.
            </li>
            <li>
                Users of Coincoming.com are themselves responsible for making sure they are in compliance with legislation of
                the jurisdiction they operate in.
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">6. Coincoming’S RIGHT AND OBLIGATIONS</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                If the user does not have this agreement qualified, Coincoming have the right to refuse the user to register,
                the registered user has the right to cancel its Coincoming member account, Coincoming suffered losses to the
                aforementioned user or his legal agent Claim compensation.
            </li>
            <li>
                When Coincoming discovers that the account user is not the initial registrant of the account, Bit-z have the
                right to suspend the use of the account.
            </li>
            <li>
                When Coincoming discovers that the user information is incomplete, untrue, and invalid, it shall be entitled
                to notify the user to correct, update information or suspend and terminate the provision of Coincoming
                platform service.
            </li>
            <li>
                Coincoming have the right to correct any information found on Coincoming when there is a significant error.
            </li>
            <li>
                Coincoming reserves the right to modify, discontinue or terminate the Coincoming service at any time, and Coincoming
                shall exercise the right to modify or discontinue the service without prior notice to the user that
                Coincoming terminates one or more services, Coincoming becomes effective on the date on which the termination
                notice is posted on the website.
            </li>
            <li>
                Coincoming should take the necessary technical measures and management measures to protect the normal
                operation of Coincoming and provide necessary and reliable trading environment and transaction services.
            </li>
            <li>
                If the user does not use the Coincoming member ID and password to register Coincoming for one year, Coincoming have the
                right to cancel the user's Coincoming account. After the account is canceled, Coincoming have the right to open
                the corresponding member name to other users to register to use.
            </li>
            <li>
                Coincoming through the strengthening of technology investment, enhance security and other measures to protect
                the user's digital currency custody security, Coincoming has right to notify in advance when the user funds
                in the foreseeable security risks.
            </li>
            <li>
                Coincoming have the right to retain the registration information of the user and all transaction information
                during the application of the Coincoming service during the performance of this agreement and the termination
                of this agreement, but shall not illegally use the information.
            </li>
            <li>
                Coincoming has the right to delete all kinds of content information which is not in compliance with national laws and regulations,
                normative documents and user evaluation provided by website. The exercise of such rights shall not be notified to the user in advance.
            </li>
        </ul>
    </li>

    <li class="mt_20">
        <h4 class="font_bold">7. SPECIAL DECLARATION</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                Coincoming includes all intellectual achievements including, but not limited to, website logos, databases, website design, text and graphics, software, photos, video, music, sound and any combination thereof, software compilation, related source code and software Applications and scripts) are owned by Coincoming. You may not copy, alter, copy, transmit or use any of the foregoing materials or content for commercial purposes.
            </li>
        </ul>
    </li>

    <li class="mt_20">
        <h4 class="font_bold">8. Intellectual property</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                Coincoming includes all intellectual achievements including, but not limited to, website logos, databases, website design, text and graphics, software, photos, video, music, sound and any combination thereof, software compilation, related source code and software Applications and scripts) are owned by Coincoming. You may not copy, alter, copy,
                transmit or use any of the foregoing materials or content for commercial purposes.
            </li>
            <li class="mt_20">
                Users shall not illegally use or dispose of Coincoming or others' intellectual property rights during
                the use of Coincoming services. Users may not publish or authorize their Web sites in any form whatsoever with information that has been published on Coincoming.
            </li>
        </ul>
    </li>

    <li class="mt_20">
        <h4 class="font_bold">9. PRIVACY POLICY</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                Coincoming.com reserves the right to modify or discontinue, temporarily or permanently, all or any part of
                this site and/or any software, facilities and services on this site, with or without notice, and/or to
                establish general guidelines and limitations on their use.
            </li>
            <li class="mt_20">
                We collect personal data that you volunteer on forms which you submit to us and in emails that you send
                to us. In addition we automatically gather details of browser types and IP addresses of the users who
                visit our site. We do not release this information to any outside party, except in suspected fraud cases.
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">10.Risk warning</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                Participating in the virtual currency transaction, the user should control the risk,
                assess the investment value and investment risk of the virtual currency,
                and bear the economic risk of losing all the investment.
            </li>
            <li class="mt_20">
                Due to the enactment or modification of national laws, regulations and normative documents,
                the transactions of virtual currency have been suspended or prohibited, so all economic losses
                caused by this will be borne by the user.
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">11. LIABILITY</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                If the information provided by the user is not true, incomplete or
                inaccurate to result in Coincoming loss, Coincoming has the right to require users to
                Coincoming loss compensation.
            </li>
            <li class="mt_20">
                If the user violates laws and regulations or violates this agreement, in the Coincoming
                or using Coincoming services engaged in illegal activities, Coincoming have the right
                to terminate immediately to continue to provide Coincoming services, log out of the account,
                and requested compensation for the resulting loss to Coincoming.
            </li>
            <li class="mt_20">
                If the user interferes with the operation of Coincoming by technical means or interferes with
                other users' use of Coincoming, Coincoming have the right to terminate immediately to continue
                to provide Coincoming services, log out of the account, and requested compensation for the resulting loss to Coincoming.
            </li>
            <li class="mt_20">
                Coincoming has the right to request the user to publicly apologize to Coincoming,
                compensate for its losses to the Coincoming, such as the user to falsely factual malicious way
                to discredit Coincoming goodwill.
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">12. Entry into force and interpretation</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                This agreement takes effect when the user clicks the registration of Coincoming
                registration page and completes the registration procedure, obtains the Coincoming
                account number and password. It is binding on Coincoming and the user.
            </li>
            <li>
                The final interpretation of this agreement is owned by Coincoming.
            </li>
        </ul>
    </li>
</ul>