<h2>用户协议</h2>
<h4 class="mt_20 font_bold">最后修改日期: 2017-10-1</h4>
<p class="mt_20">
    访问或使用 Coincoming 网站 (<a href="http://www.coincoming.com" target="_blank">http://www.coincoming.com</a>），需要您（“用户”）同意接受这些条款（“条款”）。这些条款影响您的法律权利和义务。如果您不同意被这些条款约束，请勿访问或使用服务。
</p>
<p class="mt_10">
    Coincoming 保留更改本条款的权利，包括但不限于网站的任何政策或指南。我们发布修改后的条款后，会在“最后修改日期”提供这些变化通知，或通过用户在网站提供的电子邮件地址，或以其他任何方式的通知。这些更改将应用于所有当前和后续使用的站点。如果您在访问或使用该网站时不同意该条款，您必须停止使用该网站。
</p>
<p class="mt_10">
    Coincoming 提供在线工具（“平台”），允许用户在多个不同的虚拟货币之间的交易（“虚拟货币”）。
</p>
<ul>
    <li class="mt_20">
        <h4 class="font_bold">1. 资格</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                访问或使用该网站，您必须保证至少年满18周岁，并且您的账号没有被暂停或删除。
            </li>
            <li>
                您必须保证您不会使用本网站进行任何非法活动，包括但不限于洗钱和融资的恐怖主义。
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li class="mt_20">
        <h4 class="font_bold">2. 用户注册和承诺</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                用户具有完全民事权利能力和民事行为能力，或者不具有完全民事权利能力和民事行为能力，但点击注册按钮的同意，网络被认为是由其法定代表人及其法定代表人代理注册和应用 Coincoming 交易平台服务。
            </li>
            <li>
                用户注册不是为了违反法律法规或破坏虚拟货币交易平台的秩序。
            </li>
            <li>
                用户同意在 Coincoming 用户注册页面的要求提供有效的电子邮件和其他信息，建立 Coincoming 交易平台的账号和密码。用户应确保提供的所有信息的真实性、完整性和准确性。
            </li>
            <li>
                用户获得 Coincoming 账号及密码时视为用户注册成功，用户同意接收 Coincoming 发送的与 Coincoming 网站管理、运营相关的电子邮件和/或短消息。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">3. 用户服务</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                用户有权在 Coincoming 浏览虚拟币实时行情及交易信息、有权通过 Coincoming 提交虚拟币交易指令并完成虚拟币交易。
            </li>
            <li>
                用户有权在 Coincoming 查看其 Coincoming 会员账号下的信息，有权应用 Coincoming 提供的功能进行操作。
            </li>
            <li>
                用户应当遵守法律法规、规章、规范性文件及政策要求的规定，保证账户中所有资金和虚拟币来源的合法性，不得在 Coincoming 或利用 Coincoming 服务从事非法或其他损害 Coincoming 或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经 Coincoming 授权使用或伪造 Coincoming 电子邮件题头信息等。
            </li>
            <li>
                用户应当遵守法律法规应当妥善使用和保管其 Coincoming 账号及密码、资金密码、和其注册时绑定的手机号码、以及手机接收的手机验证码的安全。用户对使用其 Coincoming 账号和密码、资金密码、手机验证码进行的任何操作和后果承担全部责任。当用户发现 Coincoming 账号、密码、或资金密码、验证码被未经其授权的第三方使用，或存在其他账号安全问题时，应立即有效通知 Coincoming ，要求 Coincoming 暂停该 Coincoming 账号的服务。 Coincoming 有权在合理时间内对用户的该等请求采取行动，但对 Coincoming 采取行动前用户已经遭受的损失不承担任何责任。用户在未经 Coincoming 同意的情况下不得将 Coincoming 账号以赠与、借用、租用、转让或其他方式处分给他人。
            </li>
            <li>
                用户应当遵守 Coincoming 不时发布和更新的用户协议以及其他服务条款和操作规则。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">4. 数字货币交易规则</h4>
        <p class="mt_10">用户承诺在其进入 Coincoming 交易，通过 Coincoming 与其他用户进行虚拟币交易的过程中良好遵守如下 Coincoming 虚拟币交易规则。</p>
        <ul class="sub_ul">
            <li class="mt_20">
                <h4>浏览交易信息</h4>
                <p>用户在 Coincoming 浏览虚拟币交易信息时，应当仔细阅读交易信息中包含的全部内容，包括但不限于虚拟币价格、委托量、手续费、买入或卖出方向，用户完全接受交易信息中包含的全部内容后方可点击按钮进行交易。</p>
            </li>
            <li>
                <h4>提交委托</h4>
                <p>
                    在浏览完交易信息确认无误之后用户可以提交交易委托。用户提交交易委托后，即用户授权 Coincoming 代理用户进行相应的交易撮合， Coincoming 在有满足用户委托价格的交易时将会自动完成撮合交易而无需提前通知用户。
                </p>
            </li>
            <li>
                <h4>查看交易明细</h4>
                <p>
                    用户可以通过管理中心的交易明细中查看相应的成交记录，确认自己的详情交易记录。
                </p>
            </li>
            <li>
                <h4>撤销/修改委托</h4>
                <p>
                    在委托未达成交易之前，用户有权随时撤销或修改委托。
                </p>
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">5. 用户的权利和义务</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                用户有权按照本协议约定接受 Coincoming 提供的虚拟币交易平台服务。
            </li>
            <li>
                用户有权随时终止使用 Coincoming 服务。
            </li>
            <li>
                用户有权随时提取在 Coincoming 的资金余额，但需向 Coincoming 支付相应的提现手续费用。
            </li>
            <li>
                用户对注册时提供的个人资料的真实性、有效性及安全性负责。
            </li>
            <li>
                用户在 Coincoming 进行虚拟币交易时不得恶意干扰虚拟币交易的正常进行、破坏交易秩序。
            </li>
            <li>
                如用户因网上交易与其他用户产生诉讼的，不得通过司法或行政以外的途径要求 Coincoming 提供相关资料。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">6. Coincoming 的权利和义务</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                如用户不具备本协议约定的注册资格，则 Coincoming 有权拒绝用户进行注册，对已注册的用户有权注销其 Coincoming 会员账号， Coincoming 因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时， Coincoming 保留其他任何情况下决定是否接受用户注册的权利。
            </li>
            <li>
                Coincoming 发现账户使用者并非账户初始注册人时，有权中止该账户的使用。
            </li>
            <li>
                Coincoming 通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供 Coincoming 服务。
            </li>
            <li>
                Coincoming 有权在发现 Coincoming 上显示的任何信息存在明显错误时，对信息予以更正。
            </li>
            <li>
                Coincoming 保留随时修改、中止或终止 Coincoming 服务的权利， Coincoming 行使修改或中止服务的权利不需事先告知用户， Coincoming 终止 Coincoming 一项或多项服务的，终止自 Coincoming 在网站上发布终止公告之日生效。
            </li>
            <li>
                Coincoming 应当采取必要的技术手段和管理措施保障 Coincoming 的正常运行，并提供必要、可靠的交易环境和交易服务，维护虚拟币交易秩序。
            </li>
            <li>
                如用户连续一年未使用 Coincoming 会员账号和密码登录 Coincoming ，则 Coincoming 有权注销用户的 Coincoming 账号。账号注销后， Coincoming 有权将相应的会员名开放给其他用户注册使用。
            </li>
            <li>
                Coincoming 有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用 Coincoming 服务期间的全部交易信息，但不得非法使用该等信息。
            </li>
            <li>
                Coincoming 有权随时删除 Coincoming 网站内各类不符合国家法律法规、规范性文件或 Coincoming 网站规定的用户评价等内容信息， Coincoming 行使该等权利不需提前通知用户。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">7. 特别声明</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                在法律允许的范围内，不论在何种情况下， Coincoming 对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">8. 知识产权</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                Coincoming 所包含的全部智力成果包括但不限于网站标志、数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归 Coincoming 所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。
            </li>
            <li>
                用户在使用 Coincoming 服务过程中不得非法使用或处分 Coincoming 或他人的知识产权权利。用户不得将已发表于 Coincoming 的信息以任何形式发布或授权其它网站（及媒体）使用。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">9. 隐私权政策</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                在用户使用 Coincoming 服务时，或访问 Coincoming 网页时， Coincoming 自动接收并记录的用户浏览器上的服务器数值，包括但不限于IP地址等数据及用户要求取用的网页记录。
            </li>
            <li>
                Coincoming 不会向任何人出售或出借用户的个人信息，除非事先得到用户的许可。 Coincoming 也不允许任何第三方以任何手段收集、编辑、出售或者无偿传播用户的个人信息。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">10. 风险提示</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                参与虚拟币交易，用户应当自行控制风险，评估虚拟币投资价值和投资风险，承担损失全部投资的经济风险。
            </li>
            <li>
                因国家法律、法规和规范性文件的制定或者修改，导致虚拟币的交易被暂停、或者禁止的，因此造成的经济损失全部由用户自行承担。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">11. 违约责任</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                如因用户提供的信息不真实、不完整或不准确给 Coincoming 造成损失的， Coincoming 有权要求用户对 Coincoming 进行损失的赔偿。
            </li>
            <li>
                如因用户违反法律法规规定或本协议约定，在 Coincoming 或利用 Coincoming 服务从事非法活动的， Coincoming 有权立即终止继续对其提供 Coincoming 服务，注销其账号，并要求其赔偿由此给 Coincoming 造成的损失。
            </li>
            <li>
                如用户以技术手段干扰 Coincoming 的运行或干扰其他用户对 Coincoming 使用的， Coincoming 有权立即注销其 Coincoming 账号，并有权要求其赔偿由此给 Coincoming 造成的损失。
            </li>
            <li>
                如用户以虚构事实等方式恶意诋毁 Coincoming 的商誉， Coincoming 有权要求用户向 Coincoming 公开道歉，赔偿其给 Coincoming 造成的损失，并有权终止对其提供 Coincoming 服务。
            </li>
        </ul>
    </li>
    <li class="mt_20">
        <h4 class="font_bold">12. 生效和解释</h4>
        <ul class="sub_ul">
            <li class="mt_20">
                本协议于用户点击 Coincoming 注册页面的同意注册并完成注册程序、获得 Coincoming 账号和密码时生效，对 Coincoming 和用户均具有约束力。
            </li>
            <li>
                本协议的最终解释权归 Coincoming 平台所有。
            </li>
        </ul>
    </li>
</ul>