<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>FBI Admin</title>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link href=http://st.test.com/vue_xnb_admin/static/css/app.a8c5b6b9344ebc039c21b31cc91fc59e.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=http://st.test.com/vue_xnb_admin/static/js/manifest.b55b4b0ba4b89a6ca7ff.js></script>
<script type=text/javascript src=http://st.test.com/vue_xnb_admin/static/js/vendor.d8a61e8640e7004a1e0d.js></script>
<script type=text/javascript src=http://st.test.com/vue_xnb_admin/static/js/app.d0c4b6e68dc61b9643c7.js></script>
</body>
</html>